service vendor.vibrator-default /vendor/bin/hw/android.hardware.vibrator-service.mediatek
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    setenv RICHTAP_DEVICE_PATH /dev/aw8697_haptic

on boot
    start vendor.vibrator-default
